.page-about {
  background-image: url("../img/background_home.jpg");
}

.card-person {
  grid-column-end: span 6;
  grid-row-start: 2;
  grid-row-end: span 10;
}

.card-person h2 {
  font-weight: 100;
  text-transform: uppercase;
}

.card-person h3 {
  padding: 0.5rem;
  font-weight: 400;
}

.card-person-content p {
  opacity: 0%;
  text-align: center;
  font-size: 1.25rem;
}

.card-person-content img {
  padding: 0.25rem;
  max-width: 100%;
  clip-path: circle(38% at 50% 40%);
}

.card-person-content:hover p {
  opacity: 100%;
  transition: all 300ms ease-in-out;
}

.card-person-content:hover img {
  opacity: 50%;
  transition: all 300ms ease-in-out;
}

.card-milan {
  grid-column-start: 6;
}

.card-tobias {
  grid-column-start: 12;
}

.card-lukas {
  grid-column-start: 18;
}
