.page-home {
  background-image: url("../img/background_home.jpg");
  background-repeat: no-repeat;
}

.card-home {
  grid-column-end: span 8;
  grid-row-start: 3;
  grid-row-end: span 8;
}

.card-home * {
  text-align: justify;
}

.card-home p {
  text-align: justify;
}
