.page-zentrale {
  background-image: url("../img/background_plugins.jpg");
}

.card-coming-soon {
  grid-column-start: 8;
  grid-column-end: span 12;
  grid-row-start: 3;
  grid-row-end: span 5;
  width: 100%;
  font-size: 5rem;
  font-weight: 100;
  text-transform: uppercase;
}
