@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap");

:root {
  --oxford-blue: #0f223aff;
  --blue-jeans: #4bb3fdff;
  --dodger-blue: #0496ffff;
  --bright-navy-blue: #027bceff;
  --honeydew: #eaf2e3ff;

  --primary-200: var(--blue-jeans);
  --primary-300: var(--dodger-blue);
  --primary-400: var(--bright-navy-blue);
  --primary-500: var(--oxford-blue);

  --white: #eeeeee;
  --black: #131313;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Khula", sans-serif;
  color: var(--white);
}

#root {
  max-width: 75%;
  margin: 0px auto;
}

body {
  background: var(--primary-500);
}

footer {
  background: var(--black);
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-content {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(12, 1fr);
  justify-items: center;

  padding-top: 20vh;
  min-height: 100vh;
}

.card {
  padding: 1rem;
  border-radius: 16px;
}

.card-primary {
  background-color: var(--primary-500);
}

.card-heading {
  font-weight: 100;
  text-transform: uppercase;
}
