footer {
  background: var(--black);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-social-links {
  display: flex;
  flex-direction: row;
  padding-top: 0.25rem;
  /* margin-bottom: 0.25rem; */
  height: 100%;
  width: 100%;
}

.footer-social-link {
  margin-left: 1rem;
  font-weight: 100;
}

.footer-social-link img {
  max-height: 1.25rem;
}
.footer-internal-links {
  text-align: right;
  margin-right: 1rem;
  align-self: center;
  font-weight: 100;
}

.footer-copyright {
  text-align: center;
  font-size: 0.75rem;
}
